@model List<DoAn.Identity.AppUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/adminLayoutPage.cshtml";
}
<a href="/admin/user/create">Thêm người dùng</a>
<table class="table table-bordered" >
    <tr>
        <th>UserName</th>
        <th>Email</th>
        <th>Số điện thoại</th>
        <th>Thành phố</th>
        <th>Ngày sinh</th>

    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.City</td>
                    <td>@item.BirthDay</td>
                    <td>
                        @Html.ActionLink("Delete", "delete", new { id = item.Id })
                    </td>
                </tr>
            }
</table>
